@use "../variables" as *;

.header {
  background: $color-white;
  border-bottom: 1px solid $color-border;

  &__inner {
    height: 88px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__burger {
    @media (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__logo {
    height: 52px;
    width: auto;
  }

  &__divider {
    width: 2px;
    height: 32px;
    background: $color-border;

    &--tablet {
      display: none;

      @media (min-width: $bp-tablet) {
        display: block;
      }
    }
  }

  &__contacts {
    display: none;
    gap: 16px;

    @media (min-width: $bp-tablet) {
      display: flex;
      margin-left: auto;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
    margin-left: auto;

    @media (min-width: $bp-tablet) {
      margin-left: 0;
    }
  }

  @media (min-width: $bp-desktop) {
    display: none;
  }
}