.icon-btn {
  width: 40px;
  height: 40px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;

  &--pink {
    background: $color-pink;
  }
}

.icon {
  width: 20px;
  height: 20px;
}
