@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0;
  min-height: 100vh;
  font-family: "TTLakes", sans-serif;
  color: $color-text;
  background: $color-bg;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.page--locked {
  overflow: hidden;
}
