@font-face {
  font-family: "TTLakes";
  src: url("../font/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src: url("../font/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src: url("../font/TTLakes-DemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
