@use "./variables" as *;
@use "./fonts";
@use "./base";

// вставки
@use "./blocks/container";
@use "./blocks/icon-btn";

// настройки
@use "./blocks/layout";
@use "./blocks/header";
@use "./blocks/side-menu";

// настройки
@use "./blocks/section-head";
@use "./blocks/footer";

// блоки
@use "./blocks/services";
@use "./blocks/brands";
@use "./blocks/devices";
@use "./blocks/prices";