@import "./variables";
@import "./fonts";
@import "./base";
@import "./blocks/container";
@import "./blocks/icon-btn";
@import "./blocks/layout";
@import "./blocks/side-menu";
@import "./blocks/header";
@import "./blocks/section-head";
@import "./blocks/services";
@import "./blocks/brands";
@import "./blocks/devices";
@import "./blocks/prices";
@import "./blocks/footer";
