@use "./variables" as *;
@use "./fonts";
@use "./base";
@use "./blocks/container";
@use "./blocks/icon-btn";
@use "./blocks/layout";
@use "./blocks/side-menu";
@use "./blocks/header";
@use "./blocks/section-head";
@use "./blocks/services";
@use "./blocks/brands";
@use "./blocks/devices";
@use "./blocks/prices";
@use "./blocks/footer";
